<strong>Olá, {{deliveryman}}</strong>
<p>Houve um cancelamento de entrega,seguem os detalhes:</p>

<p>
  <strong>Produto:</strong> {{ product }}
</p>
<p>
  <strong>Destinatario:</strong> {{ recipient }}
</p>
<p><strong>Endereço de entrega:</strong> {{ recipient_address }}</p>

