<strong>Olá, {{deliveryman}}</strong>
<p>O produto <span style="color: cadetblue;">{{product}}</span> se encontra disponível para retirada.Detalhes da encomenda:</p>

<p>
  <strong>Destinatário:</strong> {{ recipient }}
</p>
<p><strong>Endereço de entrega:</strong> {{ recipient_address }}</p>


